main {
    height: 100vh;
    background: url('../res/images/drawing_darkened.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Strike Lord';
}

span {
    display: inline-block;
    transform: scale(.9, 1.2);
}

#logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

#title1 {
    font-size: 6rem;
    animation: fade-in-1 .8s ease-out;
}

#title2 {
    font-size: 4rem;
    animation: fade-in-2 .8s ease-out;
    letter-spacing: 10px;
}