main {
    height: 100vh;
    background: url('../res/images/drawing_darkened.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.center {
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Strike Lord';
}

#logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.connexion {
    position: absolute;
    margin-top: 30%;
    padding: 20px 32px;
    border: 0 transparent;
    border-radius: 32px;
    background: #eee;
    font-size: 2rem;
    text-decoration: none;
    color: #4e6450;
    transition: 0.3s ease-in-out;
    animation: fade-in-slow 2s ease-out;
    overflow: hidden;
    will-change: transform;
}

.connexion:before {
    content: "";
    display: block;
    background: #4e6450;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
    transform: translate(-120%, -50%);
}

.connexion .text {
    color: #4e6450;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}

.connexion:hover .text {
    color: white;
}

.connexion:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}



.right {
    text-align: right !important;
}

.txt {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    position: relative;
}



@keyframes fade-in-1 {
    0% {
        opacity: 0;
        font-size: 5.7rem;
    }

    20% {
        opacity: 0;
        font-size: 4.7rem;
    }

    100% {
        opacity: 1;
        font-size: 6rem;
    }
}

@keyframes fade-in-2 {
    0% {
        opacity: 0;
        font-size: 3.7rem;
    }

    20% {
        opacity: 0;
        font-size: 3.2rem;
    }

    100% {
        opacity: 1;
        font-size: 4rem;
    }
}

@keyframes fade-in-slow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
