.progress-bar {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: #8b0000;
    transition: width 0.5s ease;
  }
  
  .progress-bar {
    background-image: linear-gradient(to right, #4e6454, #b9ecc7);
  }
  
  .progress {
    background-image: linear-gradient(to right, #8b0000, #ff0000);
  }
  

  .txt {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


#logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}