body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.splide img {
    width: 100%;
    padding: 15px;
    transition: filter .2s;
}

.current-program {
    border: 2px solid #eee !important;
    border-radius: 20px;
}

img {
    filter: brightness(50%);
}

img:hover {
    filter: brightness(100%);
}

.current-program img {
    filter: brightness(100%);
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    color: black;
    transition: .2s;
    cursor: pointer;
    gap: 5px;
    margin-top: 50px;
}

.icon-button:hover {
    background: rgb(180, 180, 180);
}

.icon-btn{
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    background: #4e6454;
    color: white;
    transition: .2s;
    cursor: pointer;
    gap: 5px;
    margin-top: 50px;
}

.icon-button:hover {
    background: #d2f8db;
}

.icon-btn span {
    color: white;
    text-decoration: none !important;
}
