.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    
    
}

.tableau {
    margin: 5%;
    border-collapse: collapse;
    width: 100%;
}

.tableau th,
.tableau td {
    padding: 8px;
    text-align: center;
    border: 1px solid white;
    background-color: #4e6450;
}

.tableau th {
    background-color: #ccc;
}

.tableau tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableau tr:hover {
    background-color: #002b01;
}

.menu {
    height: 70%;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 100, 80);
    overflow-y: auto;
}


.menu::-webkit-scrollbar {
    width: 10px;
}

.menu::-webkit-scrollbar-track {
    margin: 12px 0;
    background: transparen t;
}

.menu::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #2a2a2a;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #343434;
}