.center {
    align-items: center;
}

main {
    height: 100vh;
    background-image: url('../res/images/drawing_darkened.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Strike Lord';
}

#logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.txt {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    position: relative;
}