.center {
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Strike Lord';
}

#logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

#login{
    position: relative;
    margin-top: 10%;
}

#mdp{
    position: relative;
    margin-top: 1%;
}

.txt {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    position: relative;
}

.connexion {
    position: relative;
    margin-top: 3%;
}

.mdpoublie{
    position: relative;
    margin-top: 2%;
    text-decoration: none;
}

.inscription{
    position: relative;
    margin-top: 1%;
    text-decoration: none;
}

#invite{
    position: relative;
    margin-top: 1%;
    right: 1%;
   text-align: right;
   justify-content: right;
}