.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.left {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.right {
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.end-stats {
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
}

.valeurs {
    position: relative;
    width: 50%;
}

.valeurs p {
    padding: 5px;
}

.barres {
    margin-top: 8px;
}

progress {
    background-color: #4e6450;
}

.infos {
    position: relative;
    width: 50%;
}

.infos p {
    padding: 5px;
}

.img {
    position: relative;
    width: 500px;
    left: -100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#lost {
    position: relative;
    width: 300px;
    left: -3%;
}

.GI {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#perso {
    width: 200px;
}

#perso span {
    margin-top: 3px;
}

#smiley {
    position: relative;
    left: 245px;
    bottom: 80px;
    width: 40px;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score span {
    margin-top: 3px;
}

.icon {
    width: 32px;
    height: 32px;
}

.quitter {
    position: relative;
    font-size: 26px;
}

canvas {
    position: absolute;
}