.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Strike Lord';
}

.center {
    align-items: center;
}

.txt {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
}

.parent{
    position: relative;
    display: flex;
    flex-wrap: wrap;    
}

#profile{
   order: 1;
   width: 100%;
   height: auto;
   position: relative;
    margin-top: 5%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100px;
}

#plus{
    order: 2;
    position: absolute;
    margin-top: 5%;
    bottom: 25%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 25px;
}

.email{
    position: relative;
    margin-top: 2%;
    text-decoration: none;
}

.mdp{
    position: relative;
    margin-top: 2%;
    text-decoration: none;
}

.envoyer {
    position: relative;
    margin-top: 5%;
}

.compte{
    position: relative;
    margin-top: 2%;
    text-decoration: none;
}