@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: 'Strike Lord';
    src: url('../res/fonts/Strikelord/Strikelord.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-image: url('../res/images/drawing_darkened_blurred.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main-button {
    padding: 20px 32px;
    border-radius: 48px;
    background: #eee;
    font-size: 2rem;
    text-decoration: none;
    color: #4e6450;
    transition: 0.3s ease-in-out;
    animation: fade-in-slow 2s ease-out;
    overflow: hidden;
    will-change: transform;
}

.main-button:before {
    content: "";
    display: block;
    background: #4e6450;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
    transform: translate(-120%, -50%);
}

.main-button .text {
    color: #4e6450;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}

.main-button:hover {
    box-shadow: inset -20px 30px 20px -10px #4e6450, inset 20px -30px 20px -10px #4e6450;
    transition-delay: .2s;
}

.main-button:hover .text {
    color: white;
}

.main-button:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}

#settings {
    position: absolute;
    top: 8%;
    right: 1%;
    transform: translate(-50%, -50%);
    width: 60px;
}

#back {
    position: absolute;
    width: 50px;
}

.Titre {
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    line-height: 1.5;
    position: absolute;
    left: 7%;
}

@media (min-width: 500px) {
    body {
        font-size: 17px;
    }

    h1 {
        font-size: 24px;
    }
}