.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    height: 90%;
    font-family: 'Strike Lord';
}

.center {
    align-items: center;
}

#logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#loginMail {
    position: relative;
    margin-top: 20%;
}

.envoyer{
    position: relative;
    margin-top: 5%;
}