body {
    font-family: 'Varela Round', sans-serif;
}

#wifi {
    position: absolute;
    top: 37px;
    right: 125px;
    width: 42px;
    height: 42px;
    filter: invert(1);
}

.profile {
    display: flex;
    padding: 20px;
    letter-spacing: 1px;
}

#profile-picture {
    width: 120px;
    height: 120px;
    border: 4px solid black;
    border-radius: 10px;
    filter: brightness(.9);
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
    margin-left: 15px;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score span {
    margin-top: 3px;
}

.icon {
    width: 32px;
    height: 32px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    width: 25%;
}

.center {
    width: 50%;
}

.right {
    width: 25%;
    justify-content: center;
    align-items: flex-end;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(78, 100, 80);
    overflow-y: auto;
}

.history {
    height: 55%;
}

.menu::-webkit-scrollbar {
    width: 10px;
}

.menu::-webkit-scrollbar-track {
    margin: 12px 0;
    background: transparen t;
}

.menu::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #2a2a2a;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #343434;
}

.match {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
}

.match-icon {
    width: 75px;
    height: 75px;
}

.match.victory .match-icon {
    background: url("../res/images/swords_full.png") no-repeat;
    background-size: 100%;
}

.match.defeat .match-icon {
    background: url("../res/images/swords_outline.png") no-repeat;
    background-size: 100%;
}

.match-info {
    display: flex;
    flex-direction: column;
}

.chat {
    background: rgb(110, 110, 110);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 20px 0 0 20px;
}

.chat span {
    margin-left: 10px;
}

.column.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
    align-items: center;
}

#logo {
    width: 300px;
}

.jouer {
    padding: 16px 40px;
    font-size: 1.7em;
}

.friends {
    height: 60%;
    width: 300px;
}

.friend {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
}

.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}

.friend-pfp {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
    filter: brightness(.9);
}

.friend-status {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-icon {
    width: 22px;
    height: 22px;
}

.friend-score-icon {
    width: 26px;
    height: 26px;
}

.friends .score {
    margin-left: -2px;
}

.introjs-overlay {
    background-color: black;
    opacity: .7;
}