body {
    font-family: 'Varela Round', sans-serif;
}

.profile {
    display: flex;
    padding: 20px;
    letter-spacing: 1px;
}

#profile-picture {
    width: 120px;
    height: 120px;
    border: 4px solid black;
    border-radius: 10px;
    filter: brightness(.9);
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
    margin-left: 15px;
}

.score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.score span {
    margin-top: 3px;
}

.icon {
    width: 32px;
    height: 32px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    width: 20%;
}

.center {
    width: 60%;
}

.right {
    width: 30%;
}

.history {
    display: flex;
    flex-direction: column;
    height: 60%;
    margin: 20px;
    min-width: 280px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 15px;
    background-color: rgba(120, 120, 120, .8);
}


.match {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 20px;
}

.match-icon {
    width: 75px;
    height: 75px;
}

.match.victory .match-icon {
    background: url("../res/images/swords_full.png") no-repeat;
    background-size: 100%;
}

.match.defeat .match-icon {
    background: url("../res/images/swords_outline.png") no-repeat;
    background-size: 100%;
}

.match-info {
    display: flex;
    flex-direction: column;
}