#question {
  position: absolute;
  top: 8%;
  right: 1%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  height: 100%;
  font-family: 'Strike Lord';
}

.vertical-menu {
  width: 15%;
  position: relative;
  top: 30%;
}

.vertical-menu a {
  color: whitesmoke;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: black;
  color: whitesmoke;
}

.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  font-family: 'Strike Lord';
}

.center{
  align-items: center;
}

.appliquer{
  align-items: right;
  position: relative;
  top: 2%;
}


.parent{
  position: relative;
  display: flex;
  flex-wrap: wrap;    
}

#profile{
 order: 1;
 width: 100%;
 height: auto;
 position: relative;
  margin-top: 5%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:120px;
}

#plus{
  order: 2;
  position: absolute;
  bottom: 25%;
  right: 45%;
  transform: translate(-50%, -50%);
  width: 25px;
}