body {
    font-family: 'Varela Round', sans-serif;
}

.row {
    display: flex;
}

.row.top {
    justify-content: center;
    height: 17%;
}

.row.bottom {
    height: 83%;
}

.column {
    display: flex;
    flex-direction: column;
}

.column.left {
    width: 30%;
    height: 100%;
}

.column.center {
    width: 10%;
}

.column.right {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
}

.droppables {
    display: flex;
    flex-wrap: wrap;
}

.troupes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: fit-content;
    margin-left: 50px;
    margin-top: 30%;
    border-radius: 10px;
    background: rgb(220, 220, 220);
}

.troupes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.troupes span {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.troupes img,
.zone-container img {
    width: calc(20vw / 7);
    margin: 7px;
    cursor: pointer;
}

.zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: fit-content;
    min-height: 150px;
    margin: 20px;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    color: black;
}

.zone span {
    margin-top: 15px;
    font-size: calc(.2em + 1vw);
}

.zone-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20px;
    overflow: hidden;
}

.reservistes {
    background: #4e6450;
    color: white;
}

.ui-droppable-active {
    border: 2px dashed black;
}

.ui-droppable-hover {
    background: rgb(120, 120, 120);
    transition: .2s;
}

.reservistes.ui-droppable-hover {
    background: rgb(54, 68, 55);
    transition: .2s;
}

.ui-draggable-dragging {
    width: 100px;
    cursor: move;
}

.btn-container {
    margin-left: auto;
    margin-right: 40px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto 80px;
    padding: 15px 20px;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    color: black;
    transition: .2s;
    cursor: pointer;
    gap: 5px;
}

.icon-button:hover {
    background: rgb(180, 180, 180);
}